*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    list-style: none;
    text-decoration: none;
}
.head{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 20px 10%;
   

}
.logo{
    font-size: 22px;
}
.logo-color{
    color: purple;
}
.nav-icons{
    display: flex;
    justify-content: space-between;
}
.nav-icons a{
    padding: 5px 10px;
    align-items: center;
}
.nav-menu{
    display: flex;
}
.nav-menu a{
        font-size: 20px;
    padding: 10px 20px;
    text-transform: capitalize;
    font-weight: 400;
    transition: all .42s ease;
}
.nav-menu a:hover{
    color: purple;
    font-size: 21px;
}
#menu-icon a{
    font-size: 35px;
    color: purple;
    z-index: 10001;
    cursor: pointer;
    padding: 0;
}
.home{
    padding: 5% 10% ;
    height: 100vh;
    width: 100%;
    background-image: url(./image/banner-3.png);
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(1,fr);
    align-items: center;

}
.home-text h5{
    color: purple;
    font-size: 17px;
    text-transform: capitalize;
    font-weight: 600;
}
.home-text h1{
    font-size: 65px;
    text-transform: capitalize;
    line-height: 1.1;
    font-weight: 600;
    margin: 6px 0 10px;

}

.home-text p{
    color: rgb(247, 79, 247);
    font-size: 20px;
    font-style: italic;
    margin-bottom: 20px;
}
.purple-btn{
    display: inline-block;
    color:  rgb(247, 79, 247);
    font-weight: 500;
    text-transform: capitalize;
    border: 2px solid  rgb(247, 79, 247);
    font-size: 17px;
    padding: 12px 25px;
    transition: all .42s ease;
}
.purple-btn:hover{
    color:  white;
    border: 2px solid  rgb(247, 79, 247);
    background-color:  rgb(247, 79, 247);
}
.purple-btn i{
    vertical-align: middle;
}
.nav-icons a{
    font-size: 26px;
}
.see-more{
    position: absolute;
    right: 11%;
    top: 85%;
}
.trend{
    padding: 10px 7px;
    margin: 5px;
    border-radius: 5px;
    border: none;
    background-color: rgb(247, 79, 247);;
}
.trend a{
    color: aliceblue;
    font-size: 16px;
}
header.sticky{
    background-color: #fff;
    padding: 20px 10%;
    box-shadow: 0px 0px 10px rgb(0 0 0/ 10%);
}


/*Trend styling */
.center-text h2{
    color: black;
    font-size: 28px;
    text-transform: capitalize;
     text-align: center;
     margin-bottom: 30px;
}
.center-text span{
    color: purple;
}
.products{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
    gap: 2rem;
}
.row{
    position: relative;
    transition: all .42s;
    cursor: pointer;
}
.row img{
    width: 100%;
    height: auto;
    transition: all .43s;
}
.row img:hover{
    transform: scale(0.9);
}
.product-text h5{
    position: absolute;
    top: 14px;
    left: 14px;
    color: white;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    background-color: purple;
    padding: 4px 8px;
    border-radius: 3px;
}
.heart-icon{
    position: absolute;
    right: 0;
    font-size: 20px;
}
.heart-icon:hover{
       color: red;
}
.ratting{
    color: orange;
    font-size: 20px;
}
.priceh4{
    color: #111;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 400;
}
.price p{
    color: #151515;
    font-size: 14px;
    font-weight: 600;
}
.client-review{
    background-color:#f3f4f6 ;
     margin-top: 30px;
}
.reviews{
    text-align: center;
   
}
.reviews h3{
    color: #111;
    font-size: 25px;
    text-transform: capitalize;
    text-align: center;
    font-weight: 700;
}
.reviews img{
    width: 100px;
    height: auto;
    border-radius: 50%;
    margin: 10px 0px;
}